* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #222;
    color: white;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
    transition: background 0.25s ease, color 0.25s ease;
}

.navbar a:hover {
    background: #444;
    color: #ffcc00;
}

.home {
    padding: 50px;
    text-align: center;
}
.banner {
    margin-top: 20px;
    height: 200px;
    background: #ddd;
}

.hq {
    padding: 50px;
    background: #f4f4f4;
    text-align: center;
}
.hq-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    padding: 50px;
}
.form-container {
    display: flex;
    gap: 50px;
}
form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, textarea {
    padding: 10px;
    border: 1px solid #444;
}
button {
    padding: 10px;
    cursor: pointer;
}
.result-box {
    width: 40%;
    border: 1px solid #444;
    padding: 20px;
}

@media (max-width: 768px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        text-align: center;
    }

    .navbar ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    .form-container {
        flex-direction: column;
    }
    form, .result-box {
        width: 100%;
    }

    .hq-container {
        flex-direction: column;
        gap: 20px;
    }
}